<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>to-do</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	 <!-- swipe event -->
 	 <!-- <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script> -->
 	 <!-- <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script> -->

	<!-- fonts -->
	<link href="https://fonts.googleapis.com/css?family=Fira+Sans:300" rel="stylesheet">
	<style>
	:root {
  		--dusty-pink: rgb(212,171,179);
  		--dusty-blue: rgb(153,195,203);
  		--dusty-gray: rgb(104,124,135);
	}
	body{
		font-family: 'Fira Sans', sans-serif;
	}
	.navbar {
	    width:100%;
	    margin:0px auto;
	    bottom: 0;
	    padding:10 0px;
	    position: fixed;
	    text-align:center;
	}
	.navbar li { 
	    display:inline-block;
	    width:24%; 
	    margin:0;
	    padding:0;
	}
	.navbar .glyphicon{
		font-size:200%;
		color:white;
	}
	a:hover{
		text-decoration:none;
	}
	.font-pink{
		color: var(--dusty-pink);
	}
	.font-blue{
		color: var(--dusty-blue);
	}
	.font-gray{
		color: var(--dusty-gray);
	}
	.font-white{
		color: white !important;
	}
	.bg-gray{
		background-color: var(--dusty-gray);
	}
	.bg-pink{
		background-color: var(--dusty-pink);
	}
	.pad-10{
		padding: 10% 0%;
	}
	.no-margin{
		margin: 0;
	}
	
	.btn-block{
		border-radius:0 ;
		padding: 5% 0;
		margin-bottom: 4%;
		border-top: 1px solid gray;
		border-bottom: 1px solid gray;

		font-size:20px;
	}
	
	h2 .glyphicon{
		font-size: 30px;
		float:left;
		padding-left:10px;
	}


	.form-control{
		padding: 30px 10px;
		color:black;
		/*change color to show not yet added?*/
	}
	.form-control:focus{
		color:gray;
	}
	.form-control::placeholder{
		color:gray;
	}
	input{
		/*display:inline;*/
	}


	</style>
</head>
<body>
	<!-- NAVBAR -->
	<ul class="navbar border-top bg-gray">
		<li class="border-right"><a href="main_timer" class="glyphicon glyphicon-plus" onclick="return confirmLeave()"></a></li>
		<li class="border-right"><a href="main_todo" class="glyphicon glyphicon-th-list" onclick="return confirmLeave()"></a></li>
		<li class="border-right"><a href="main_log" class="glyphicon glyphicon-time" onclick="return confirmLeave()"></a></li>
		<li><a href="main_settings" class="glyphicon glyphicon-cog" onclick="return confirmLeave()"></a></li>
	</ul>
	

	<!-- Top left back button + title + top right confirm edit button-->
	<h2 class="font-blue pad-10 no-margin" style="text-align:center; padding-bottom:8%">
		<!-- back button -->
		<a href='main_todo' onclick="return confirmLeave()"><span class="glyphicon glyphicon-chevron-left font-blue"></span></a>
		<!-- subject name -->
		&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" class="type_input" value="{{name}}" style="width:60%; text-align:center" id="edited_subject">
		<!-- confirm edit button -->
		<span class="glyphicon glyphicon-ok font-blue" style="float:right" onclick="confirmChanges()">&nbsp;</span>
	</h2>

	<!-- subject list  -->
	{{#each tasks}}
		<!-- TODO link to tasks here  -->
		<div class="btn-block btn-default bg-pink "> 
			<input type="text" class="btn font-white type_input task_input" style="font-size:20px; width: 80%" value="{{name}}" orig="{{name}}"></input>
				<span class="glyphicon glyphicon-trash" style="color:white; font-size:150%; float:right; padding-right:10%; padding-top: 2%" onclick="confirmDelete(this)"></span>
		</div>
	{{/each}}


	<!-- form for adding new tasks when needed -->
	<form method="post" action="tasks" id="new_task_form" style="display:none">
  			<input type="text" class="form-control btn btn-default btn-block " style="background-color:var(--dusty-pink)" name="task_name" placeholder="task name" id="add_new">
  			<input type="hidden" name="subj_name" value="{{name}}">
  			<div class="container">
  				<button class="btn btn-default btn-block" style="display:inline" onclick="return checkFilled()"> done </button>
				<button class="btn btn-default btn-block" onclick="return cancel()"> cancel </button>
			</div>
	</form>


	<!-- Hidden form for deleting entire list, loads main_todo after  -->
	<form method="post" action="deleteSubject" id="delete_subject_form">
		<input type="hidden" name="subject" value="{{name}}">
	</form>


	<!-- hidden form for confirming subject, loading task page  -->
	<form method="get" action="tasks" id="back_to_subject_form">
		<input type="hidden" name="subject" id="edited_subject_form">
	</form>


	<!-- add new subject button  -->
	<div class="container">
		<button class="btn btn-default btn-block" onclick="confirmDeleteList()" id="add_btn"> delete list </button>
	</div>

	<br><br><br><br>


<script>

function cancel(){
	$("#new_task_form").css("display","none");
	$("#add_btn").css("display", "block");
	$("#add_new").val("");
	return false;
}

function checkFilled(){
	if ( $("#add_new").val() == "" ){
		alert("Task cannot be empty.");
		return false;
	}
	//check for bad input
	if (  ($("#add_new").val().indexOf('<') > -1) || ($("#add_new").val().indexOf('>') > -1)){
		alert("You've entered invalid input, please try again.");
		//reset field
		$("#add_new").val("");
		return false;
	}

	$("#new_task_form").submit();
	return true;
}
function confirmLeave() {
	if ( $("#add_new").val() != "" ){
		return confirm("Are you sure you want to navigate away? Your unsaved changes will be lost.");
	}else{
		return true;
	}
}
function confirmChanges() {

		/**checks for valid input**/
		var goodInput = false;

		$(".type_input").each( function(){

			if ($(this).parent().css("display") == "none"){
				console.log("ignore deleted field: check good input");
				return;
			}

			//check for empty
			//alert($(this).val());
			if ( $(this).val() == "" ){
				alert("Fields cannot be empty.");
				goodInput = false;
				return false;
			}
			//check for bad script input
			if (  ($(this).val().indexOf('<') > -1) || ($(this).val().indexOf('>') > -1)){
				alert("You've entered invalid input, please try again.");
				//reset field
				$(this).val("");
				goodInput = false;
				return false;
			}
			goodInput = true;
			return true;

		});


		/** if good input, add fields to json object and send request back to change data **/
		if (goodInput){

			var new_subject = $('#edited_subject').val();


			var new_list = { 
				"old_subject": "{{name}}",
				"list": {
					"name" : new_subject,
					"tasks": []
				}
			};

			//for each non-hidden task-inputbox, add to tasks
			$(".task_input").each( function(){
				//if hidden, is deleted item so ignore
				if ($(this).parent().css("display") == "none"){
					console.log("ignore deleted field: populate");
					return;
				}else{
					//push task item to new_list
					new_list["list"]["tasks"].push( {"name": $(this).val() });
				}
			});

			
			//send request back through xml, then send get request with new subject name to tasks subject="query"
			var xhr = new XMLHttpRequest();
			xhr.open('post', 'updateList');
			xhr.setRequestHeader('Content-Type', 'application/json');
			console.log("payload" + JSON.stringify(new_list));
			xhr.onerror = function(){ alert("Edit request failed. Please refresh and try again."); } 
			xhr.send(JSON.stringify(new_list));
			return true;
		}else{
			return false;
		}


}

//confirms and executes deletion of one task item
function confirmDelete(item){

	if ( confirm("Your task will be permanently deleted.") ){
		
		//hide parent div, so user thinks its deleted
		$(item).parent().css("display", "none");

		//get original task name so we can delete from database
		var task_name = $(item).prev().attr("orig");

		//send xml request to delete from database
		var xhr = new XMLHttpRequest();
		xhr.open('post', 'deleteTask');
		xhr.setRequestHeader('Content-Type', 'application/json');
		var payload = { 
			"delete": task_name,
			"subject": "{{name}}"
		};
		xhr.send(JSON.stringify(payload));
	}
}

//confirms and executes deletion of entire task list
function confirmDeleteList(){
	if ( confirm("Are you sure you want to delete this subject list and all it's tasks?") ){
		$("#delete_subject_form").submit();
	}
}


</script>


</body>
</html>


