<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>good job!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- fonts -->
	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
	<style>
	:root {
  		--dusty-pink: rgb(212,171,179);
  		--dusty-blue: rgb(153,195,203);
  		--dusty-gray: rgb(104,124,135);
	}
	body{
		font-family: 'Fira Sans', sans-serif;
		font-weight: lighter !important; /*not working*/
	}
	.navbar {
	    width:100%;
	    margin:0px auto;
	    bottom: 0;
	    padding:10 0px;
	    position: fixed;
	    text-align:center;
	}
	.navbar li { 
	    display:inline-block;
	    width:24%; 
	    margin:0;
	    padding:0;
	}
	.navbar .glyphicon{
		font-size:200%;
		color:white;
	}
	a:hover{
		text-decoration:none;
	}

	.pad-10{
		padding: 10% 0%;
	}
	.no-margin{
		margin: 0;
	}
	#circle-div{ 
		/*TODO  : center circle :( currently iphonex */
		width:300px;
		height:300px;
		margin-left: 8%;
		border: 2px solid rgb(153,195,203);
		border-radius:50%;
		text-align: center;
		font-size:50px;
	}
	#circle-div2{
		padding-top:35%;
	}
	.font-pink{
		color: var(--dusty-pink);
	}
	.font-blue{
		color: var(--dusty-blue);
	}
	.font-gray{
		color: var(--dusty-gray);
	}
	.bg-gray{
		background-color: var(--dusty-gray);
	}
	.break-btn{
		font-size:200%;
		background-color: var(--dusty-pink);
		color:white;
	}

	/*for exit button/arrow*/
	#end-session-btn {
		padding-top: 15%;
		float:right;
		padding-right:10%;
	}

	</style>
	<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-135652457-1', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->
</head>
<body>
	<!-- NAVBAR -->
	<ul class="navbar border-top bg-gray">
		<li class="border-right">
			<a href="main_timer_A" class="glyphicon glyphicon-plus" onClick="return confirmLeave()"></a></li>
		<li class="border-right">
			<a href="main_todo_A" class="glyphicon glyphicon-th-list" onClick="return confirmLeave()"></a></li>
		<li class="border-right">
			<a href="main_log_A" class="glyphicon glyphicon-time" onClick="return confirmLeave()"></a></li>
		<li><a href="main_settings_A" class="glyphicon glyphicon-cog" onClick="return confirmLeave()"></a></li>
	</ul>

	<!-- Actual Page -->
	<div class="container" style="text-align:center">

		<h2 class="font-pink pad-10 no-margin" style="margin-top:10%" >good job!</h2><br>
		<h2 class="font-pink pad-10 no-margin" >you've finished {{hours}} hours and {{minutes}} minutes of</h1>
		<h1 class="font-blue pad-10 no-margin" id="assignment">{{subject}}: {{assignment}}</h1>


 	</div>

 	<!-- End Break Btn -->
 	<div id="end-session-btn">
		<a href="index_A">
			<span class="glyphicon glyphicon-arrow-right font-gray" style="float:right; font-size: 40px"></span>
		<br><h3 class="font-blue">go home</h3></a>
	
	</div>

	<!-- Extra White Space -->
	<div style="margin: 20%">
		<br>
	<!-- space under submit button so it scrolls if doesnt fit screen -->
	</div>


	<!-- delete i think  -->
	<!-- Hidden Forms submissions -->
	<form action="timer_A" method="post" id="toTimer">
		<input type="hidden" name="breaks" value="{{breaks}}">
		<!-- <input type="hidden" id="time_passed" name="total_minutes_spent" value="{{breaks_total}}"> -->
		<!-- extra stuff for passing session -->
		<input type="hidden" name="subject" value="{{subject}}">
		<input type="hidden" name="assignment" value="{{assignment}}">
		<input type="hidden" id="hours_left" name="hour" value="0">
		<input type="hidden" id="mins_left" name="minute" value="0">
	</form>



<script>


//TODO inconsistent leave statements and form submissions... deal with it
function confirmStudy(){
	var c = confirm('Are you sure you want to skip the rest of your break and continue studying?');
	if (c){
		submitStudy();
	}

}

function submitStudy(){
	var readable = totalToReadable({{totalMinsLeft}});
    document.getElementById("hours_left").value = readable[0];
    document.getElementById("mins_left").value = readable[1];
    document.getElementById("toTimer").submit();
}

/* leaving timer from end session button or navbar */
function confirmLeave(){ 
	var l = confirm('You are in the middle of a session, are you sure you want to leave? Your data will be lost');
	
	if(l) {

		ga("send", "event", "button", "click");
		return true; 
	}
	return false;
}

//out of total minutes, how many hour/min
function totalToReadable(total){
	var h = Math.floor(total/60);
	var m = Math.floor(total%60);
	return [h,m];
}


</script>



</body>
</html>

