<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-135652457-1', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->
	<meta charset="utf-8">
	<title>start timer</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- fonts -->
	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
	<style>
	:root {
  		--dusty-pink: rgb(212,171,179);
  		--dusty-blue: rgb(153,195,203);
  		--dusty-gray: rgb(104,124,135);
	}
	body{
		font-family: 'Fira Sans', sans-serif;
		font-weight: lighter !important; /*not working*/
	}
	.navbar {
	    width:100%;
	    margin:0px auto;
	    bottom: 0;
	    padding:10 0px;
	    position: fixed;
	    text-align:center;
	}
	.navbar li { 
	    display:inline-block;
	    width:24%; 
	    margin:0;
	    padding:0;
	}
	.navbar .glyphicon{
		font-size:200%;
		color:white;
	}
	a:hover{
		text-decoration:none;
	}

	.pad-10{
		padding: 10% 0%;
	}
	.no-margin{
		margin: 0;
	}
	#circle-div{ 
		/*TODO  : center circle :( currently iphonex */
		width:300px;
		height:300px;
		margin-left: 8%;
		border: 2px solid rgb(153,195,203);
		border-radius:50%;
		text-align: center;
		font-size:50px;
	}
	#circle-div2{
		padding-top:35%;
	}
	.font-pink{
		color: var(--dusty-pink);
	}
	.font-blue{
		color: var(--dusty-blue);
	}
	.font-gray{
		color: var(--dusty-gray);
	}
	.bg-gray{
		background-color: var(--dusty-gray);
	}
	.break-btn{
		font-size:200%;
		background-color: var(--dusty-pink);
		color:white;
	}

	/*for exit button/arrow*/
	#end-session-btn {
		padding-top: 15%;
		float:right;
		padding-right:10%;
	}

	</style>
</head>
<body>
	<!-- NAVBAR -->
	<ul class="navbar border-top bg-gray">
		<li class="border-right">
			<a href="main_timer_A" class="glyphicon glyphicon-plus" onclick="return confirmLeave()"></a></li>
		<li class="border-right">
			<a href="main_todo_A" class="glyphicon glyphicon-th-list" onclick="return confirmLeave()"></a></li>
		<li class="border-right">
			<a href="main_log_A" class="glyphicon glyphicon-time" onclick="return confirmLeave()"></a></li>
		<li><a href="main_settings_A" class="glyphicon glyphicon-cog" onclick="return confirmLeave()"></a></li>
	</ul>

	<!-- Actual Page -->
	<div class="container" style="text-align:center">

		<h2 class="font-pink pad-10 no-margin" >{{subject}}</h2>

		<!-- Timer (circular border, time caption, countdown timer) -->
		<div id="circle-div" class="font-pink">
			<div id="circle-div2">
				<p style="font-size:20px; margin:0">time until <span id="lastSession">break</span></p><!--add the circle animations instead of text?-->
				<p id="countdown" class="no-margin"></p>
			</div>
		</div>

		<h1 class="font-blue pad-10 no-margin" id="assignment">{{assignment}}</h1>

		<!-- breaks -->
		<h3 class="font-blue no-margin">breaks</h3>
		<!-- <a href="" onclick="return confirmBreak()"> -->
			<div class="btn-group no-margin" role="group" aria-label="First group" id="breaks-left" onclick="confirmBreak()">
			<!-- number of breaks added here  -->
		 	</div>
	 	<!-- </a> -->

 	</div>

 	<!-- End Session Btn -->
 	<div id="end-session-btn">
		<a href='index_A' onclick="return confirmLeave()">
			<span class="glyphicon glyphicon-arrow-right font-gray" style="float:right; font-size: 40px"></span>
		<br><h3 class="font-blue">end session</h3></a>
	
	</div>

	<!-- Extra White Space -->
	<div style="margin: 20%">
	<br>
	<!-- space under submit button so it scrolls if doesnt fit screen -->
	</div>

	<!-- Hidden Forms submissions -->
	<!-- To Break Screen -->
	<form action="break_A" method="post" id="toBreak">
		<input type="hidden" name="breaks_before" value="{{breaks}}">
		<input type="hidden" id="time_passed" name="total_minutes_spent" value="{{breaks_total}}">
		<!-- extra stuff for passing session -->
		<input type="hidden" name="subject" value="{{subject}}">
		<input type="hidden" name="assignment" value="{{assignment}}">
		<input type="hidden" name="total_time_set" value="{{total_time_set}}">
		<input type="hidden" id="totalMinsLeft" name="total_mins_left" value="0">
	</form>

	<!-- To the Finishing Page -->
	<form action="finish_A" method="post" id="toFinish">
		<input type="hidden" name="subject" value="{{subject}}">
		<input type="hidden" name="assignment" value="{{assignment}}">
		<input type="hidden" name="total_time_set" value="{{total_time_set}}">
	</form>



<script>

var currHours;
var currMinutes;

$( document ).ready(function() {
    populateBreaks();
    startCountdown();
    currHours = 0;
    currMinutes = 0;
    if ({{breaks}}==0){
    	document.getElementById('lastSession').innerHTML = "end";
    }
});

/* pre-loading : show as many buttons as there are breaks left */
function populateBreaks(){
	//TODO fix bc needs to be dynamic as breaks are spent?
	//removed btn-secondary from button class to remove black onclick animation
	for (var i = 0; i < {{breaks}}; i++){
		$('#breaks-left').append('<button type="button" class="btn break-btn"><span class="glyphicon glyphicon-star"></span></button>');
	}
}

/* Constant countdown timer */
function startCountdown(){ //currently countdown to next break

	// Set the date we're counting down to
	var countDownDate = new Date();
	// countDownDate.setHours(countDownDate.getHours()+{{total_hr}});
	// countDownDate.setMinutes(countDownDate.getMinutes()+{{total_min}});
	countDownDate.setHours(countDownDate.getHours()+{{breaks_hr}});
	countDownDate.setMinutes(countDownDate.getMinutes()+{{breaks_min}});
	countDownDate = countDownDate.getTime();

	// Update the count down every 1 second
	var x = setInterval(function() {

	  // Get todays date and time
	  var now = new Date().getTime();

	  // Find the distance between now and the count down date
	  var distance = countDownDate - now;

	  // Time calculations for days, hours, minutes and seconds
	  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
	  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
	  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

	  currHours = hours; currMinutes = minutes; 

	  // Display the result in the element with id="demo"
	  document.getElementById("countdown").innerHTML = "  " + hours + "h "
	  + minutes + "m " + seconds + "s";

	  // If the count down is finished, write some text 
	  if (distance < 0) {
	    clearInterval(x);

	    document.getElementById("countdown").innerHTML = "DONE";
	  	
	    if ({{breaks}}<1){
	    	//no more breaks, you're all done!
	    	document.getElementById("toFinish").submit();
	    }
	    else{
		    //when timer is over, send form over to break page
		    document.getElementById("totalMinsLeft").value = ({{total_time_set}} - {{breaks_total}});
		    alert("it's time to take a break, let's go!");
		    document.getElementById("toBreak").submit();

		}
	    //TODO : edit json to be total time - break time {breaks, breaks_hr, breaks_min} hidden form?
	    //on both end and navigation away, add functionality
	  }
	}, 1000);
}


/**** LEAVING PAGE FROM BUTTONS *****/

function populateEarlyForm(){
	//session ended early, populate with right values
	var totalBefore = ({{breaks_hr}}*60)+{{breaks_min}};
	var totalAfter = (currHours*60)+currMinutes;
	console.log("Before: "+totalBefore);
	console.log("After: "+totalAfter);
	var update = totalBefore - totalAfter;
	if (update<0){update = 0;}

	document.getElementById("time_passed").value = update;
	document.getElementById("totalMinsLeft").value = ({{total_time_set}} - update);

}

/* leaving timer to break by taking break early */
function confirmBreak(){
	var c = confirm('You are in the middle of a session, are you sure you want to take a break early?');
	if (c){
		//if leave, populate form to post to break page
		//when timer is over, send form over to break page
		populateEarlyForm();
	    document.getElementById("toBreak").submit();
	}
	//TODO Change so that leave will log current time or something
}

/* leaving timer from end session button or navbar */
function confirmLeave(){ 
	return confirm('You are in the middle of a session, are you sure you want to leave? Your data will be lost');
	//TODO Change so that leave will log current time or something
}



</script>



</body>
</html>

